{% load static %}
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>HomePage</title>
        <script src="{% static 'matrimony/jquery-3.3.1.min.js' %}"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
        <link href="https://fonts.googleapis.com/css?family=Acme|Lobster" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'matrimony/login_and_signin.css' %}">
        <!--jQuery library--> 
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

        <!--Latest compiled and minified JavaScript--> 
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script>
        </script>
        <style>
            .notifications{
                border : 2px solid blue;
                width:50%;
                
            }
            .notifications a{
                display: block;
            }
            .notifications a::hover {
                background : pink;
            }
            #category{
                padding:10px;
                border-radius: 10px;
                font-weight: bold;
            }
            #search{
                padding:10px;
                border-radius: 10px;
                border:none;
                background-color: #3498DB;
                font-family: 'Acme';
                font-size:20px;
            }
            .search_one{
                margin : 10px 20px 10px 40px;
            }
            .search_one img{
                padding:0px;
                margin:0px;
            }
            .search_one button{
                border:none;
                background:#e6f3f7;
                margin-left : 1cm;
            }
        </style>
    </head>
    <body>
        
        <nav class="navbar navbar-fixed-top navbar navbar-light" style="background-color: #e3f2fd;">
		<div class="container">
			  <div class="navbar-header">
                    <button type="button" class="navbar navbar-toggle navbar navbar-light" data-toggle="collapse" data-target="#myNavbar">
                        <span class="glyphicon glyphicon-menu-hamburger"></span>
                     </button>
                    <a class="navbar-brand" href="nem2.html">
                    	<span class="glyphicon glyphicon-heart"></span><l><b> Matrimony</b></l>
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                             <form class="form-inline my-2 my-lg-0"  method="post" action = "{% url 'justtry' %}" style="margin-top:10px;"> {% csrf_token %}
                                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="name">
                                <button type="submit" style="padding:0px;margin:0px; background: transparent; border: none;"><span class="glyphicon glyphicon-search" ></span></button>
                                    </form>
                     
                        </li>
                        
                        <li><a href="{% url 'homepage' %}"><span class="glyphicon glyphicon-user"></span><l> Home</a></li>
                    	<li><a href="about.html"><span class="glyphicon glyphicon-book"></span><l> About Us</a></li>
                        <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-user"></span><l> Profile</a></li>
                        <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-in"></span> <l>Logout</a></li>
                    </ul>
                </div>
		</div>
	</nav>
        <br>
			<br>
			<br>
        
        <center>
        
            
                {% if obj.gender == 'male' %}
                    <h1>Welcome home Mr. {{ obj.firstname }} {{ obj.lastname }}</h1>
                {% else %}
                    <h1>Welcome home Miss {{ obj.firstname }} {{ obj.lastname }}</h1>
                {% endif %}
                <form id="justtry" action="{% url 'search_category' %}" method="post">
                    {% csrf_token %}
                    <br><br>
                    <h2>Select a category</h2>
                    <select id="category" name = "category">
<!--                        <option selected value="">Select Category of Search</option>-->
                        <option value="all">All</option>
                        <option value="any">Any</option>
                        <option value="hindu">Hindu</option>
                        <option value="muslim">Muslim</option>
                        <option value="sikh">Sikh</option>
                        <option value="christian">Christian</option>
                    </select><br><br>
                    <input type="submit" value="search" id="search">
                </form>
                <br><br>
                {% if interested_list %}
                <h1>Notifications</h1>
            <div class="notifications">
                
                    {% for x in interested_list %}
                        <a href = "{% url 'special_profile' x.interest_by %}"><h2>{{ x.interest_by }} Showed interest in you! Click to View profile</h2></a><br>
                    {% endfor %}
                {% else %}
                    <h1>No notifications to display</h1>
                {% endif %}
            </div>
        </center>
    </body>
</html>