{% load static %}
<!doctype html>
<html>
    <head>
        <meta charset = "utf-8">
        <title>Login|Matrimony</title>
        <script src="{% static 'matrimony/jquery-3.3.1.min.js' %}"></script>
        <script>
            function check_validity(){
                var firstname = document.getElementById('firstname').value;
                var lastname = document.getElementById('lastname').value;
                var regusername  = document.getElementById('regusername').value
                var dob = document.getElementById('dob').value
                var email = document.getElementById('email').value
                var regpassword = document.getElementById('regpassword').value
                
                if(regusername.length<=10 && regpassword.length<=10){
                    alert("username and password should be greater than 10");
                    return false;
                }
                else if(firstname.length<=0 && lastname.length <=0 && email.length<=10){
                    alert("Enter valid data");
                    return false;
                }
                return true;
            }

            
            $(document).ready(function(){
                
                $('#regusername').change(function(){
                    $.ajax({
                        url : "{% url 'check_username' %}",
                        method : 'POST',
                        data : {
                            'regusername':$('#regusername').val(),
                            'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val(),
                        },
                        success : function(data){
                            if(data.boolean){
                                alert("username already taken");
                                $('#regusername').val('');
                            }
                        },
                    });
                });
                
                $('#phone').change(function(){
                    var phone = $('#phone').val();
                    if(phone.length == 10){
                        $.ajax({
                            method : 'POST',
                            url : "{% url 'check_phone' %}",
                            data : {
                                'phone':$('#phone').val(),
                                'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val(),
                            },
                            success : function(data){
                                if(data.boolean){
                                    alert("Account exists please login");
                                    $('#phone').val('');   
                                }
                            }
                            
                        });
                    }
                    else{
                        alert("Please enter valid phone number of 10 digits");
                    }
                });
            
                $('#regform').on('submit',function(e){
                    e.preventDefault();
                    var checkval = document.getElementById('conditions').checked;
                    if(checkval){
                        if(check_validity()){
                            $.ajax({
                                method : 'POST',
                                url : "{% url 'register_me' %}",
                                data : {
                                    'firstname':$('#firstname').val(),
                                    'lastname':$('#lastname').val(),
                                    'regusername':$('#regusername').val(),
                                    'dob':$('#dob').val(),
                                    'religion':$('#religion').val(),
                                    'gender':$('#gender').val(),
                                    'phone':$('#phone').val(),
                                    'email':$('#email').val(),
                                    'regpassword':$('#regpassword').val(),
                                    'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val(),
                                },
                                success : function(data){
                                    if(data.boolean){
                                        alert("Account created successfully!");
                                        // reload the registration div
                                        $("#section").load(" #section");
                                    }
                                    else{
                                        alert("Error in creating account ");
                                    }
                                },
                                error : function(){
                                    alert("Server Down");
                                },
                            });
                        }
                        
                    }
                    else{
                        alert("Please agree our Terms & Conditions");
                    }
                    
                });
            });
        </script>
        <style>
            .header{
                background-color:lightcoral;
                display:block;
                width:100%;
                color:white;
                position:fixed;
            }   
            #login{
                margin-left:1cm;
                padding:5px;
            }
            .headcontainer{
                padding-top:1cm;
                padding-bottom:1cm;
                margin:0 10%;
                
            }
            .headcontainer h1{
                font-size: 1cm;
                float: left;
            }
            #loginform{
                margin-left:50%;
            }
            
            .username{
                float:left;     
                margin-left:1cm;
            }
            .password{
                float: left;
                margin-left:1cm;
            }
            #username,#password{
                padding:5px;
            }
/*      
            .headcontainer form{
                float:left;
                margin-left:20%;
            }
*/
            #section{
                clear:both;
            }
            *{
                margin:0px;
                padding:0px;
            }
            body{
                background-color:antiquewhite;
            }
            
        </style>
    </head>
    <body>
        <div class="header">
            <div class="headcontainer">
                <h1>Matrimony</h1>
                <form action="{% url 'login' %}" method="post" id="loginform">
                    {% csrf_token %}
                    <div class = "username">
                        <label for="username">Username</label><br>
                        <input type = "text" id="username" name = "username" placeholder="username">
                    </div>
                    <div class = "password">
                        <label for="password">Password</label><br>
                        <input type = "password" id = "password" name = "password" placeholder="password">
                    </div><br>
                    <input type="submit" value="login" id="login">
                </form>
            </div>
        </div><br><br><br><br><br><br><br>
        <div id= "section">
            <form id="regform" method="post">
                <h1>Register free</h1>
                {% csrf_token %}
                <input type="text" id="firstname" placeholder="first name"><br><br>
                <input type="text" id="lastname" placeholder = "lastname"><br><br>
                <input type="text" id="regusername" placeholder = "username"><br><br>
                <input type="text" id="dob" placeholder = "dd/mm/yyyy"><br><br>
                <select id="religion">
                    <option value="any">Any</option>
                    <option value="hindu">Hindu</option>
                    <option value="muslim">Muslim</option>
                    <option value="sikh">Sikh</option>
                    <option value="christian">Christian</option>
                </select><br><br>
                <select id="gender">
                    <option value = "male">Male</option>
                    <option value = "female">Female</option>
                </select><br><br>                
                <input type="text" id="phone" placeholder="mobile number"><br><br>
                <input type="email" id="email" placeholder = "email address"><br><br>
                <input type="password" id="regpassword" placeholder = "new password"><br><br>
                <input type="checkbox" id="conditions">
                    
                <label for="conditions">Agree all terms and conditions</label><br><br>
                <input type="submit" value="Register Free">
                
                <!-- religion,gender,phoneno,email,password check button -->
            </form>
        </div>
    </body>
</html>