{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >

        <!--jQuery library--> 
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

        <!--Latest compiled and minified JavaScript--> 
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href = "{% static 'matrimony/icon.png' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'matrimony/login_and_signin.css' %}">
</head>
<body>
<nav class="navbar navbar-fixed-top">
		<div class="container">
			  <div class="navbar-header">
                    <button type="button" class="navbar navbar-toggle navbar navbar-light" data-toggle="collapse" data-target="#myNavbar">
                        <span class="glyphicon glyphicon-menu-hamburger"></span>
                     </button>
                    <a class="navbar-brand" href="nem2.html">
                    	<span class="glyphicon glyphicon-heart"></span><l><b> Matrimony</b></l>
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav navbar-right">
                    	
                    	<li><a href="about.html"><span class="glyphicon glyphicon-book"></span><l> About Us</a></li>
                        <li><a href="{% url 'signin' %}"><span class="glyphicon glyphicon-user"></span><l> Sign Up</a></li>
                        <li><a href="{% url 'index' %}"><span class="glyphicon glyphicon-log-in"></span> <l>Login</a></li>
                    	
                    </ul>
                </div>
		</div>
	</nav>

	<br>
	<br>
	<br>
	<center>
	<p class="color"><h1><b>LOGIN<b></h1><p>

	<div class="lining">
	<form method="post" action="{% url 'login' %}">
	   {% csrf_token %}
  <div class="form-row">

    <div class="form-group col-md-12">
    <input type="text" class="form-control" id="id" placeholder="username" name="username">
    </div>

   
  </div>

   <div class="form-row">

    <div class="form-group col-md-12">
    <input type="password" class="form-control" id="pass" placeholder="password" name="regpassword">
    </div>

   
  </div>
        
        <div class="error"><p style="color:red;">{{ error }}</p></div>

<!--
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="check">
    <label class="form-check-label">Keep me signed in</label>
  </div>
-->

  <button type="submit" class="btn btn-primary" style="margin-bottom:20px;">Submit</button>

</form>
</div>
</center>
</body>
</html>