{% load static %}
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Profile</title>
        <script src = "{% static 'matrimony/jquery-3.3.1.min.js' %}"></script>
        <link rel="stylesheet" href="{% static 'matrimony/login_and_signin.css' %}">
        <script>
            $(document).ready(function(){
                $('#edit').click(function(){
//                    console.log('clicked')
                    $('.display_information').slideUp('slow');
                    
                    $('.edit_information').slideDown('slow');
//                    $('#edit').css('display','block');
                });
                
                $('#personal').on('submit',function(e){
                    // save the information in db and reload the page ny jquery ajax
                    e.preventDefault();
                    $.ajax({
                        method : "POST",
                        url : "{% url 'update_personal_information' %}" ,
                        data : {
                            'expectations' : $('#expectations').val(),
                            'interests' : $('#interests').val(),
                            'qualification' : $('#qualification').val(),
                            'working_at' : $('#working_at').val(),
                            'marital_status' : $('#marital_status').val(),
                            'csrfmiddlewaretoken' : $('input[name=csrfmiddlewaretoken]').val(),  
                        },
                        success : function(data){
                            if(data.is_updated){
//                                alert("Your Information is successfully updated!")
                                $('.refresh').load(' .refresh');
                                $('.edit_information').css('display','none')
                            }
                        }
                    });
                });
            });
        </script>
<!--         <link rel="stylesheet" type="text/css" href=".css">-->
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
        <link href="https://fonts.googleapis.com/css?family=Acme|Lobster" rel="stylesheet">

        <!--jQuery library--> 
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

        <!--Latest compiled and minified JavaScript--> 
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Divorcee -->
        <style>
            .photo_border , .expectations,.interests , .qualification , .professional , .marital_status{
                border:2px solid #DAE0E2;
/*                text-align: center;*/
                margin: 0px auto;
                width:50%;
                box-shadow: 10px 10px #DAE0E2;
                margin-bottom: 1cm;
                box-sizing: border-box;
            }
            .photo_submit , .save , .edit{
                padding:10px;
                border-radius : 10px;
                border:none;
                background : #3498DB;
/*                font-weight: bolder;*/
                font-size: 25px;
                font-family: 'Acme', sans-serif;
            }
            .expectations b , .interests b , .qualification b , .professional b ,.marital_status b{
                display: block;
                width:80%;
                font-size:1cm;
                margin-bottom: 1cm;
                font-family: 'Lobster', cursive;
                border:2px solid blue;
                padding:10px;
            }
            .expectations h1 , .interests h1 , .qualification h1 , .professional h1 ,.marital_status h1{
                font-family:'Acme', sans-serif;
            }
            textarea{
                border: none;
                display: block;
                padding: 10px;
                width : 100%;
                resize: none;
            }
            textarea : placeholder{
                font-weight: light;
            }
        </style>
    </head>
    <body>
    	<nav class="navbar navbar-fixed-top navbar navbar-light" style="background-color: #e3f2fd;">
		<div class="container">
			  <div class="navbar-header">
                    <button type="button" class="navbar navbar-toggle navbar navbar-light" data-toggle="collapse" data-target="#myNavbar">
                        <span class="glyphicon glyphicon-menu-hamburger"></span>
                     </button>
                    <a class="navbar-brand" href="nem2.html">
                    	<span class="glyphicon glyphicon-heart"></span><l><b> Matrimony</b></l>
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav navbar-right">
                    	
                        <li><a href="{% url 'homepage' %}"><span class="glyphicon glyphicon-user"></span><l> Home</a></li>
                    	<li><a href="about.html"><span class="glyphicon glyphicon-book"></span><l> About Us</a></li>
                        <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-user"></span><l> Profile</a></li>
                        <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-in"></span> <l>Logout</a></li>
                    	
                    </ul>
                </div>
		</div>
	</nav>
			<br>
			<br>
			<br>


        <center>
        <h1 align="center"><p>Profile Page</p></h1>
        
        <div class="lining2">
        <h1>{{ obj.username }}</h1>
        {% if obj.avatar %}
            <div class="photo">
                <img src = "{{ obj.avatar.url }}"  height="200" width="200" style="border:2px solid black;">
            </div><br><br>
        
        {% endif %}
        <div class="photo_border">
            <h1 style="font-family: 'Lobster', cursive;">Change Profile Photo</h1>  
            <form method="POST" action = "{% url 'upload_photo' %}" enctype = "multipart/form-data">
                {% csrf_token %}
                <input type="file" name="file" value="Select" accept="image/*"><br><br>
                <input type="submit" value="Upload Profile photo" class="photo_submit"><br><br>
            </form>
        </div>
        <div class="refresh">
            <div class="display_information">
                
                    {% if obj.expectations %}
                    <div class="expectations">
                        <h1><label for="expectations">Expectations from partner</label></h1><br>
                        <b>{{ obj.expectations }}</b>
                    </div>
                    {% endif %}
                
                
                    {% if obj.interests %}
                    <div class="interests">
                        <h1><label for="interests">Your interests</label></h1><br>
                        <b>{{ obj.interests }}</b>
                    </div>
                    {% endif %}
                
                
                
                    {% if obj.qualifications %}
                    <div class="qualifications">
                        <h1><label for="qualification">My Qualification</label></h1><br>
                        <b>{{ obj.qualification }} </b>b> 
                    </div>
                    {% endif %}
                
                
                
                    {% if obj.working_at %}
                    <div class="professional">
                        <h1><label for="working_at">Professional Information</label></h1><br>
                        <b>{{ obj.working_at }}</b> 
                    </div>
                    {% endif %}
                
                
                
                    {% if obj.marital_status %}
                    <div class="marital_status">
                        <h1><label for="Marital status">Marital Status</label></h1>
                        <b>{{ obj.marital_status }}</b>
                    </div>
                    {% endif %}
                
                <button type="submit" id="edit" class="edit">Edit Profile</button>
            </div>

            <div class = "edit_information" style = "display:none">
                <form method="post" id="personal">
                    {% csrf_token %}
                    <div class="expectations">
                        <h1><label for="expectations">Expectations from partner</label></h1><br>
                        <b><textarea id="expectations" placeholder="your expectations from your future partner">{{ obj.expectations }}</textarea></b><br>
                    </div>

                    <div class="interests">
                        <h1><label for="interests">Your interests</label></h1><br>

                        <b><textarea id="interests" placeholder = "Please enter your interests. This will help your perfect match to find you!">{{ obj.interests }}</textarea></b><br><br>
                    </div>
                    
                    
                    <div class="qualification">
                        <h1><label for="qualification">My Qualification</label></h1><br>
                        <b><textarea id="qualification" placeholder = "Enter your qualifications">{{ obj.qualification }}</textarea></b><br><br>

                    </div>
                    
                    <div class="professional">
                        <h1><label for="working_at">Professional Information</label></h1><br>               

                        <b><textarea id="working_at" placeholder = "Enter your professional information i.e. your office name,business,salary,etc to add plus point to your profile">{{ obj.working_at }}</textarea></b>                
                    </div>

                    <br><br>
                    <div class="marital_status">
                        <h1><label for="Marital status">Marital Status</label></h1>

                        <b><select id="marital_status">
                            <option value="fresher">Fresher</option>
                            <option value= "divorcee">Divorcee</option>
                            </select>    </b>
                    </div>
                    <br><br>
                    <input type="submit" value="Save" class="save">
                </form>
            </div>
        </div>
    </div>
        </center>
    </body>
</html>