{% load static %}
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Search Results</title>
        <script src="{% static 'matrimony/jquery-3.3.1.min.js' %}"></script>
        <style>
            img{
                height:2cm;
                width : 2cm;    
                border-radius : 10px;
                float : left;
            }
        </style>
    </head>
    <body>
        {% if obj %}
            {% for x in obj %}
                {% if x.username != obj1.username %}
                    {% csrf_token %}
                    <img src="{{ x.avatar.url }}">
                    <h1><a href="{% url 'special_profile' x.username %}">{{ x.username }}</a></h1>        
                {% endif %}
            <br><br><br>
            {% endfor %}
        {% else %}
            <h1>No Entry Found</h1>
        {% endif %}
    </body>
</html>