{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
        <link href="https://fonts.googleapis.com/css?family=Acme|Lobster" rel="stylesheet">
        <link rel="stylesheet" href = "{% static 'matrimony/login_and_signin.css' %}">
        <!--jQuery library--> 
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

        <!--Latest compiled and minified JavaScript--> 
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            img{
                height:3cm;
                width : 3cm;    
                border-radius : 10px;
                float : left;
                border : 2px solid black;
                margin:1cm;
            }
            .marital_status{
                text-align: left;
                float:left;
                margin-left:1cm;
                margin-top:0cm;
            }
            .each{
                text-align: center;
                border: 2px solid blue;
                width:60%;
/*                background: pink;*/
            }
            
            .search_results{
                width: 80%;
                margin : 0px auto;
                
            }
            a .each{
                color:black;
            }
        </style>
    </head>
    <body>
        <nav class="navbar navbar-fixed-top navbar navbar-light" style="background-color: #e3f2fd;">
		<div class="container">
			  <div class="navbar-header">
                    <button type="button" class="navbar navbar-toggle navbar navbar-light" data-toggle="collapse" data-target="#myNavbar">
                        <span class="glyphicon glyphicon-menu-hamburger"></span>
                     </button>
                    <a class="navbar-brand" href="nem2.html">
                    	<span class="glyphicon glyphicon-heart"></span><l><b> Matrimony</b></l>
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav navbar-right">
                    	
                        <li><a href="{% url 'homepage' %}"><span class="glyphicon glyphicon-user"></span><l> Home</a></li>
                    	<li><a href="about.html"><span class="glyphicon glyphicon-book"></span><l> About Us</a></li>
                        <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-user"></span><l> Profile</a></li>
                        <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-in"></span> <l>Logout</a></li>
                    	
                    </ul>
                </div>
		</div>
	   </nav>
            <br>
			<br>
			<br>
        <center>
            {% if obj %}
            
                <div class="search_results">
                    <h1>Search Results from Categories</h1><br>
                    {% for x in obj %}
                        <a href="{% url 'special_profile' x.username %}"><div class="each">
                            <center>
                                <img src = "{{ x.avatar.url }}">
                                <div class="marital_status">
                                    <h1>{{ x.username }}</h1>
                                    {% if x.marital_status %}
                                        <h2>Marital status : {{ x.marital_status }}</h2>
                                    {% else %}
                                        <h2>Marital status : Not edited</h2>
                                    {% endif %}
                                    <h2>Birthdate : {{ x.dob }}</h2>
                                </div>
                                <div style="clear:both"></div>
                            </center>
                        </div>
                    </a>

                    {% endfor %}
                </div>
            {% else %}
                <div class="each">
                    <h1>No results found</h1>
                </div>
            {% endif %}
        </center>
    </body>
</html>