{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >

        <!--jQuery library--> 
        <script src="{% static 'matrimony/jquery-3.3.1.min.js' %}"></script>

        <!--Latest compiled and minified JavaScript--> 
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{% static 'matrimony/login_and_signin.css' %}">
        <script>
            // function to validate form
            function form_val(){
                var fname = document.getElementById('fname').value;
                var lname = document.getElementById('lname').value;
                var city = document.getElementById('inputCity').value;
                var phone = document.getElementById('pno').value;
                var gender = document.getElementById('gender').value;
                var religion = document.getElementById('religion').value;
                var dob = document.getElementById('dob').value;
                var username = document.getElementById('username').value;
                var password = document.getElementById('password').value;
                var repass = document.getElementById('re-pass').value;
                var agree = document.getElementById('gridCheck').checked;
                alert(!agree);
                if(fname && lname && city && phone && gender && religion && dob && username && password && repass){
                    if(repass != password){
//                        alert("please enter same password ")
                        
                            document.getElementById('error').innerHTML = "please type same passeord ";
                            return false;
                    }
                    else if(!agree){
                        document.getElementById('error').innerHTML = "Please accept T&C";
                        return false;
                    }
                    else{
                        return true;
                    }
                    
                    
                }
                else{
                    document.getElementById('error').innerHTML = "please enter all the details correctly!<br>";
                    return false;
                }
                
            }
            
            $(document).ready(function(){
                
                $('#username').change(function(){
                    $.ajax({
                        url : "{% url 'check_username' %}",
                        method : 'post',
                        data : {
                            'regusername' : $('#username').val(),
                            'csrfmiddlewaretoken' : $('input[name = csrfmiddlewaretoken]').val(),
                        },
                        success: function(data){
                            if(data.boolean){
                                $('#error').html('username alreday taken.');
                                $('#username').val('');
                                
                            }
                        },
                        
                    });
                })
                
                // validating phone number
                $('#pno').change(function(){
                    $.ajax({
                        url : "{% url 'check_phone' %}",
                        method : 'post',
                        data : {
                            'phone' : $('#pno').val(),
                            'csrfmiddlewaretoken' : $('input[name=csrfmiddlewaretoken]').val(),
                        },
                        success : function(data){
                            if(data.boolean){
                                $('#pno_error').html("phone number already registered");
                                $('#pno').val("");
                            }
                        }
                    });
                });
                
                // check for form validity
                $('#registerme').on('submit',function(e){
                    e.preventDefault();
                    if(form_val()){
                        $.ajax({
                            url : "{% url 'register_me' %}",
                            method : 'post',
                            data : {
                                'firstname' : $('#fname').val(),
                                'lastname' : $('#lname').val(),
                                'regusername' : $('#username').val(),
                                'dob' : $('#dob').val(),
                                'religion' : $('#religion').val(),
                                'gender' : $('#gender').val(),
                                'phone' : $('#pno').val(),
                                'email' :$('#inputCity').val(),
                                'regpassword' : $('#password').val(),
                                'csrfmiddlewaretoken' : $('input[name=csrfmiddlewaretoken]').val(),
                            },
                            success : function(data){
                                alert("account created successfull!")
                            }
                        });
                    }
                })
                
            })
        </script>
</head>
<body>
<nav class="navbar navbar-fixed-top">
		<div class="container">
			  <div class="navbar-header">
                    <button type="button" class="navbar navbar-toggle navbar navbar-light" data-toggle="collapse" data-target="#myNavbar">
                        <span class="glyphicon glyphicon-menu-hamburger"></span>
                     </button>
                    <a class="navbar-brand" href="nem2.html">
                    	<span class="glyphicon glyphicon-heart"></span><l><b> Matrimony</b></l>
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav navbar-right">
                    	
                        <li><a href="about.html"><span class="glyphicon glyphicon-book"></span><l> About Us</l></a></li>
                        <li><a href="{% url 'signin' %}"><span class="glyphicon glyphicon-user"></span><l> Sign Up</l></a></li>
                        <li><a href="{% url 'index' %}"><span class="glyphicon glyphicon-log-in"></span> <l>Login</l></a></li>
                    	
                    </ul>
                </div>
		</div>
	</nav>

	<br>
	<br>
	<br>
	<center>
        <p ><h1><b>Sign In<b></b></h1><p>

	<div class="lining">
<form method="post" id="registerme">
    {% csrf_token %}

  <div class="form-row">
    <div class="form-group col-md-6">
    <input type="text" class="form-control" id="fname" placeholder="First Name">
    </div>
    
    <div class="form-group col-md-6">
    <input type="text" class="form-control" id="lname" placeholder="Last Name">
    </div>
  </div>


 <div class="form-row">

    <div class="form-group col-md-4">
    <input type="email" class="form-control" id="inputCity" placeholder="email">
    </div>

    <div class="form-group col-md-4">
  
      <input type="text" class="form-control" id="pno" placeholder="Mobile No.">
    </div>
     <p style="text-align: left;color:red;" id="pno_error"></p>

     <div class="form-group col-md-4" style="clear:both;">
     <select id="gender" class="form-control">
        <option selected value="">Select Gender</option>
        <option value="male">Male</option>
        <option value="female">Female</option>
      </select>
     </div>  

  </div>


  <div class="form-row">

<!--
    <div class="form-group col-md-4">
    <input type="text" class="form-control" id="interest" placeholder="Interest">
    </div>
-->

     <div class="form-group col-md-4">
     <select id="religion" class="form-control" placeholder="Language">
        <option selected value="">Select Religion</option>
        <option value="any">Any</option>
        <option value="hindu">Hindu</option>
        <option value="sikh">Sikh</option>
        <option value="christian">Christian</option>
        <option value="muslim">Muslim</option>
      </select>
     </div>  


     <div class="form-group col-md-4" style="width:50%;">
        <input type="date" class="form-control" id="dob" placeholder="DOB">
     </div><br>
            


  </div>


  <div class="form-row" style="clear:both;">
    
    <div class="form-group col-md-4">
    <input type="text" class="form-control" id="username" placeholder="new username">
    </div>

    <div class="form-group col-md-4">
    <input type="text" class="form-control" id="password" placeholder="Password">
    </div>

    <div class="form-group col-md-4">
    <input type="text" class="form-control" id="re-pass" placeholder="Re-Enter Password">
    </div>
      
    <div id="error" style="color:red;"></div>
  </div>


<!--
 <div class="form-row">

    <div class="form-group col-md-12">
    <input type="text" class="form-control" id="remarks" placeholder="Remarks">
    </div>

   
  </div>
-->



  <div class="form-group">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="gridCheck">
      <label for="gridCheck">
        I accept all the terms and conditions 
      </label>
    </div>
  </div>
  <button type="submit" class="btn btn-primary" >Sign in</button>
</form>

</div>
        </h1></b></h1>
</center>
</body>
</html>