{% load static %}
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ requested_for.username }}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
        <link href="https://fonts.googleapis.com/css?family=Acme|Lobster" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'matrimony/login_and_signin.css' %}">
        <!--jQuery library--> 
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

        <!--Latest compiled and minified JavaScript--> 
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="{% static 'matrimony/jquery-3.3.1.min.js' %}"></script>
        <style>
            button, input[type="submit"]{
                padding:10px;
                border-radius: 10px;
                border:none;
                margin:1cm auto auto 1cm;
                background: #3498DB;
                
            }
        </style>
        <script>
            $(document).ready(function(){
                $('#interested').on('submit',function(e){
                    e.preventDefault();
                    $.ajax({
                        method : 'POST',
                        url : "{% url 'add' %}",
                        data : {
                            'username' : '{{ obj.username }}',
                            'interested_in' : '{{ requested_for.username }}',
                           'csrfmiddlewaretoken' : $('input[name=csrfmiddlewaretoken]').val(),
                        },
                        success : function(data){
                            if(data.is_updated){
                                alert("Added successfully in your interested list");
                                $('.refresh').load(' .refresh');
                            }
                            else{
                                alert("Already exists in your interest list")
                                $('.refresh').load(' .refresh');
                            }
                        }
                    });
                });
                
                
                $('#interest').click(function(){
                    $.ajax({
                        method : 'POST',
                        url : "{% url 'add' %}",
                        data : {
                            'username' : '{{ obj.username }}',
                            'interested_in' : '{{ requested_for.username }}',
                           'csrfmiddlewaretoken' : $('input[name=csrfmiddlewaretoken]').val(),
                        },
                        success : function(data){
                            if(data.is_updated){
                                alert("Added successfully in your interested list");
                                $('.refresh').load(' .refresh');
                            }
                            else{
                                alert("Already exists in your interest list")
                                $('.refresh').load(' .refresh');
                            }
                        }
                    });
                });
                
                $('#disinterest').click(function(){
                    $.ajax({
                        url : "{% url 'blockit' %}",
                        method : 'POST',
                        data : {
                            'block' : '{{ requested_for.username }}',
                            'csrfmiddlewaretoken' : $('input[name=csrfmiddlewaretoken]').val(),
                        },
                        success: function(data){
                            if(data.data){
                                alert("Blocked Successfully!");
                                $('.refresh').load(' .refresh');
                            }
                        }
                        
                    });
                });
            });
        </script>
        <style>
            img{
                height:4cm;
                width:4cm;
                border: 2px solid black;
                border-radius : 5px;
            }
            .photo_border , .expectations,.interests , .qualification , .professional , .marital_status,
                .fullname , .user , .dob, .religion ,.phone,.email{
                border:2px solid #DAE0E2;
/*                text-align: center;*/
                margin: 0px auto;
                width:50%;
                box-shadow: 10px 10px #DAE0E2;
                margin-bottom: 1cm;
                box-sizing: border-box;
            }
            .photo_submit , .save , .edit{
                padding:10px;
                border-radius : 10px;
                border:none;
                background : #3498DB;
/*                font-weight: bolder;*/
                font-size: 25px;
                font-family: 'Acme', sans-serif;
            }
            .expectations b , .interests b , .qualification b , .professional b ,.marital_status b,
            .fullname b, .user b, .dob b, .religion b , .phone b ,.email b{
                display: block;
                width:80%;
                font-size:1cm;
                margin-bottom: 1cm;
                font-family: 'Lobster', cursive;
                border:2px solid blue;
                padding:10px;
            }
            .expectations h1 , .interests h1 , .qualification h1 , .professional h1 ,.marital_status h1,
            .fullname h1, .user h1, .dob h1, .religion h1 ,.phone h1,.email h1{
                font-family:'Acme', sans-serif;
            }
            textarea{
                border: none;
                display: block;
                padding: 10px;
                width : 100%;
                resize: none;
            }
            textarea : placeholder{
                font-weight: light;
            }
        </style>
    </head>
    <body>
        <nav class="navbar navbar-fixed-top navbar navbar-light" style="background-color: #e3f2fd;">
		<div class="container">
			  <div class="navbar-header">
                    <button type="button" class="navbar navbar-toggle navbar navbar-light" data-toggle="collapse" data-target="#myNavbar">
                        <span class="glyphicon glyphicon-menu-hamburger"></span>
                     </button>
                    <a class="navbar-brand" href="nem2.html">
                    	<span class="glyphicon glyphicon-heart"></span><l><b> Matrimony</b></l>
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav navbar-right">
                    	
                        <li><a href="{% url 'homepage' %}"><span class="glyphicon glyphicon-user"></span><l> Home</a></li>
                    	<li><a href="about.html"><span class="glyphicon glyphicon-book"></span><l> About Us</a></li>
                        <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-user"></span><l> Profile</a></li>
                        <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-in"></span> <l>Logout</a></li>
                    	
                    </ul>
                </div>
		</div>
	</nav>
        <br>
			<br>
			<br>
        
        
        
        
     
<!--
        {{ requested_for.firstname }}<br>
        {{ requested_for.lastname }}<br>
        {{ requested_for.username }}<br>
        {{ requested_for.dob }}<br>
        {{ requested_for.religion }}<br>
        {{ requested_for.gender }}<br>
        {{ requested_for.phone }}<br>
        {{ requested_for.email }}<br>
        {{ requested_for.expectations }}<br>
        {{ requested_for.interests }}<br>
        {{ requested_for.qualification }}<br>
        {{ requested_for.working_at }}<br>
        {{ requested_for.marital_status }}<br>


--> 
        <center>
        
        <h1>{{ requested_for.username }}</h1>
        {% if requested_for.avatar %}
            <div class="photo"><img src = "{{ requested_for.avatar.url }}" style="border:2px solid black;"></div><br><br>
        
        {% endif %}
        <div class="refresh">
            <div class="display_information">
                    <div class="fullname">
                        <h1><label>Full Name</label></h1>
                        <b>{{ requested_for.firstname }}&nbsp;&nbsp;&nbsp;{{ requested_for.lastname }}</b>
                    </div>
                
                    <div class="user">
                        <h1><label>Username</label></h1>
                        <b>{{ requested_for.username }}</b>
                    </div>    
                
                    <div class="dob">
                        <h1><label>Birth Date</label></h1>
                        <b>{{ requested_for.dob }}</b>
                    </div>
                
                    <div class="religion">
                        <h1><label>Religion</label></h1>
                        <b>{{ requested_for.religion }}</b>
                    </div>
                    {% if requested_for.expectations %}
                    <div class="expectations">
                        <h1><label for="expectations">Expectations from partner</label></h1><br>
                        <b>{{ requested_for.expectations }}</b>
                    </div>
                    {% endif %}
                
                
                    {% if requested_for.interests %}
                    <div class="interests">
                        <h1><label for="interests">Your interests</label></h1><br>
                        <b>{{ requested_for.interests }}</b>
                    </div>
                    {% endif %}
                
                
                
                    {% if requested_for.qualifications %}
                    <div class="qualifications">
                        <h1><label for="qualification">My Qualification</label></h1><br>
                        <b>{{ requested_for.qualification }} </b>
                    </div>
                    {% endif %}
                
                
                
                    {% if requested_for.working_at %}
                    <div class="professional">
                        <h1><label for="working_at">Professional Information</label></h1><br>
                        <b>{{ requested_for.working_at }}</b> 
                    </div>
                    {% endif %}
                
                
                
                    {% if requested_for.marital_status %}
                    <div class="marital_status">
                        <h1><label for="Marital status">Marital Status</label></h1>
                        <b>{{ requested_for.marital_status }}</b>
                    </div>
                    {% endif %}
                
                    {% if both_interested %}
                        <div class="phone">
                            <h1><label>Phone number</label></h1>
                            <b>{{ requested_for.phone }}</b>
                            
                        </div>
                
                        <div class="email">
                            <h1><label>email address</label></h1>
                            <b>{{ requested_for.email }}</b>
                        </div>
                    {% endif %}
                
                    {% if both_interested %}
                        <form id="already_interested">
                            {% csrf_token %}
                            <button type="button" id="interest">Interested</button>
                            <button type="button" id="disinterest">Remove from list</button>
                        </form>
                    {% else %}
                        <br><br><br>
                        <form id="interested">
                            {% csrf_token %}
<!--                            <input type="" value="Interested">-->
                            <input type="submit" value="Interested">

                        </form>
                    {% endif %}
        
            </div></div>
        </center>
    </body>
</html>