.navbar-custom {
    color: #FFFFFF;
    background-color: #000000;
}

.lining{
	margin: 30px;
	align-content: center;
	padding-top: 20px;
	height: auto;
	width: 40%;
    border: 5px solid blue;
    border-radius: 8px;
}

p
{
	color: blue;
}